@import 'styles/mixin.scss';
@import 'styles/colors.scss';


.memoviewer-wrapper{
    //margin top값 추후 수정
    margin:0 auto;
    padding-top:2rem;
    width:95%;
    >div:first-child{
        border-bottom: 1px solid $gray-2;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        h1{
            font-size: 2rem;
            line-height: 1.5;
            margin:0;
        }
    }
}