@import 'styles/mixin.scss';
@import 'styles/colors.scss';


.memosviewer-wrapper{
    //margin top값 추후 수정
    margin-top: 6rem;
    >div:first-child{
        border-bottom: 1px solid $gray-2;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        h1{
            font-size: 3rem;
            line-height: 1.5;
            margin:0;
        }
    }
}