@import 'styles/mixin.scss';
@import 'styles/colors.scss';

.footer-wrapper {
    width: 100%;
    min-height: 150px;
    border-top:1px solid $gray-5;
    padding: 1rem;

    p {
        text-align: center;
    }
}