@import 'styles/mixin.scss';
@import 'styles/colors.scss';

.footer-wrapper {
    width: 100%;
    height: 100px;
    border-top: 1px solid $gray-5;
    padding: 1rem;
    background-color: $gray-9;
    position: relative;
    p {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        margin:0 auto;
        text-align: center;
        color: #fff;
        font-weight: $gray-2;
    }
}