@import 'styles/mixin.scss';
@import 'styles/colors.scss';


.memo-header {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid $gray-5;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;

    .main-logo {
        // display: none;
        // @include tablet{
        //     display: block;
        // }
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);

        >span {
            display: block;
            float: left;
            &:first-child {
                text-indent: -9999px;
                font-size: 0;
                width: 36px;
                height: 36px;
                @include background-img('https://img.icons8.com/pastel-glyph/80/000000/create-new--v1.png', center, no-repeat, contain)
            }
        }
        
        h1 {
            float:left;
            margin-left: 10px;
            font-weight: bold;
        }
    }

    button {
        display: none;

        @include mobile {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            background-color: transparent;
            display: block;
            width: 36px;
            height: 36px;
            text-indent: -9999px;
            font-size: 0px;
            cursor: pointer;
            @include background-img('https://img.icons8.com/cotton/80/000000/menu.png', center, no-repeat, cover)
        }
    }
}

nav {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);

    ul {
        display: block;

        &::after {
            content: '';
            display: block;
            clear: both;
        }

        li {
            display: inline-block;
            padding: 0 10px;

            a {
                border: 1px solid $gray-5;
                padding: 5px;
                border-radius: 16px;

                &:hover,
                &:active,
                &:focus {
                    border: 1px solid $gray-9;
                }

                &.active {
                    background-color: $gray-9;
                    color: #fff;
                    border: 1px solid $gray-9;
                    &:hover{
                        background-color:$gray-7;
                        border:1px solid $gray-7;
                    }
                }
            }
        }
    }

    @include mobile {
        display: none;
        &.open {
            display: block;
            width: 100%;
            top: 105px;
            right: 0;
            ul{
                background-color:#fff;
                z-index:1;
            li {
                display: block;
                width: 100%;
                border-bottom: 1px solid $gray-5;
                text-align: right;
                padding-right:5%;
                a, a.active {
                    all: unset;
                    width: 100%;
                    display: block;
                    border: 1px solid red;
                    padding: 10px;
                    border:none;

                    &:hover,
                    &:focus,
                    &:active {
                        border:none;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    &.active {

                    }
                }
            }
        }
        }
    }
}